{% extends "base.html" %}

{% block title %}KCK Light Homepage{% endblock %}

{% block content %}
<div class="container">
    <div class="embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/Yo6JI_bzUzo"></iframe>
    </div>
</div>

<div class="container">
    <div class="row">
        <hr>
        <div class="col-sm-5">
            <blockquote>
                <h3>How to save energy, save money and save the environment?</h3>
            </blockquote>
        </div>
        <div class="col-sm-7">
            <p>The longevity of LED lighting equipment is typically much greater than
            incandescent or fluorescent lighting equipment. For example, a traditional
            incandescent light bulb would require about <strong>7~8 times more energy</strong> 
            than a LED bulb.</p><br>
            <p>One of the most direct benefit from using LED equipment is that the energy bill 
            would reduce significantly. Also, as LED equipment have much longer service life
            than all the other lighting equipment, you can also save money from replacing them.</p><br>
            <p>LED lighting equipment do not contain any toxic elements so </p>
        </div>
    </div>
</div>
{% endblock %}
